
<h1><%= current_user.name %></h1>
<p><%= image_tag(@user.picture_url, :width => 100) if @user.picture.present? %></p>
<p><strong></strong><a><%= current_user.email %></strong></a>.</p>
<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<p class="article-title">



<table class="table table-striped">

  <% @users.each_with_index do |user, index| %>

      <tr>
        <td><%= index +=1 %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                  "data-sid" => current_user.id, "data-rip" => user.id %>
              </td></br>
              </tr>

          <% end %>
          </table>






<br>


