<p id="notice"><%= notice %></p>


<h1>Admin Panel</h1><br>
<h1>All ENROLLMENT ID's</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Enrollment Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rolls.each do |roll| %>
      <tr>
        <td><%= roll.enroll %></td>
        <td><%= link_to 'Show', roll, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_roll_path(roll), class:"btn btn-info" %></td>
        <td><%= link_to 'Destroy', roll, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roll', new_roll_path , class:"btn btn-success" %>
